/* src/pages/MovieSearch/MovieSearch.module.css */
.movieSearch {
  padding: 20px;
}

.movieList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.movieItem {
  background: #f4f4f4;
  padding: 10px;
  text-align: center;
}

.moviePoster {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movieLink {
  text-decoration: none;
  color: black;
}

.movieLink:hover {
  color: #007bff;
}
